target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

# IDE files
.idea/
*.iml
.eclipse
.classpath
.project
.settings/
*.factorypath

# OS files
.DS_Store
Thumbs.db
